*, :after, :before {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: @body_font;
}

body {
    margin: 0;
    background: @blue_light;
    color: @body_color;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%;
  line-height: 1.15; 
  margin: 0;
}


input[type="text"],
optgroup,
select {
    min-height: @input_minheight;
    min-width: 190px;
    border-radius: @input_radius;
    border: 1px solid @blue_light2;
    font-size: 13px;
    padding: 0 8px;

    &:focus-visible {
        outline: 2px solid @blue_primary;
        outline-offset: -1px;
    }
}

.invisible {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top: -10000px;
}

