@blue_primary: #1565C0;
@blue_light: #ECF2F6; 
@blue_light2: #A3B1C2;

@black_primary: #12171B;

@gray_primary: #627184;
@gray_light: #C3D1E1;
@gray_light2: #F5F8FA;

@orange_primary: #EB6200;

@body_font: 'Roboto';
@body_color: @black_primary;
@link_color: @blue_primary;

@breakpoint_smartphone: 720px;

@menu_height: 40px;
@menu_burger_width: 24px;
